div img{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}
nav ul{
  border: solid;
  text-align: center;
}
nav ul li{
  display: inline-block;
  margin: 10px;
}
header img{
  margin-left: auto;
  margin-right: auto;
  display:block;
}
footer p{
  text-align: center;
}
div p{
  text-align: center;
}
.Company {
  font-weight: bold;
}
.Code {
  font-style: italic;
}
.ad img {
  width: 1000px;
}
.backarrow img {
  width: 300px;
}
